urxvt.background: [70]#000000
urxvt.foreground: [100]#ffffff

urxvt.transparent: true
urxvt.shading: 15

urxvt.geometry: 71x40
urxvt.font: xft:Terminus:pixelsize=7
urxvt.letterSpace: -1

urxvt.borderless: 1
