urxvt.background: [70]#000000
urxvt.foreground: [100]#ffffff

urxvt.transparent: true
urxvt.shading: 15

urxvt.geometry: 71x40
urxvt.font: xft:Terminus:pixelsize=7
urxvt.letterSpace: -1

urxvt.borderless: 1

urxvt.saveLines: 5000

urxvt.perl-ext-common: default,matcher
urxvt.urlLauncher: firefox
urxvt.matcher.button: 1

urxvt.loginShell: true

urxvt.scrollBar_right: true

urxvt.scrollTtyOutput: false
urxvt.scrollWithBuffer: true
urxvt.scrollTtyKeypress: true
urxvt.secondaryScreen: 1
urxvt.secondaryScroll: 0
