! Molokai colour theme
! This is supposed to be a fallback
! Obtained from: http://www.futurile.net/2016/06/15/xterm-256color-themes-molokai-terminal-theme/
background: [100]#272822
foreground: [100]#d0d0d0
color0: [100]#272822
color1: [100]#d0d0d0
color2: [100]#66AA11
color3: [100]#c47f2c
color4: [100]#30309b
color5: [100]#7e40a5
color6: [100]#3579A8
color7: [100]#4eb4fa
color8: [100]#303030
color9: [100]#ff0090
color10: [100]#80FF00
color11: [100]#ffba68
color12: [100]#5f5fee
color13: [100]#bb88dd
color14: [100]#4eb4fa
color15: [100]#ffffff

!!!!!!!!!
! URXVT !
!!!!!!!!!

! Main colours
urxvt.background: [70]#000000
urxvt.foreground: [100]#ffffff

! Transparency
urxvt.transparent: true
urxvt.shading: 15

! Size
urxvt.geometry: 71x40

! Font
urxvt.font: xft:DejaVu Sans Mono:pixelsize=11
urxvt.letterSpace: -1
! Font resolution: xdpyinfo | grep dots
Xft.dpi: 96

! Remove border
urxvt.borderless: 1

! Set lines saved buffer size
urxvt.saveLines: 5000

! Open URLs
urxvt.perl-ext-common: default,matcher
urxvt.urlLauncher: firefox
urxvt.matcher.button: 1

! Start as login shell
urxvt.loginShell: true

! Move the scrollbar to the right
urxvt.scrollBar_right: true

! Set buffer scrolling behaviour
urxvt.scrollTtyOutput: false
urxvt.scrollWithBuffer: true
urxvt.scrollTtyKeypress: true
urxvt.secondaryScreen: 1
urxvt.secondaryScroll: 0

!!!!!!!!!!!!!!!!
! XScreenSaver !
!!!!!!!!!!!!!!!!

! Allow user switching from XScreenSaver
xscreensaver.newLoginCommand: dm-tool switch-to-greeter
