-- {{{ Wibox
[% include 'wibox/widgets/keyboardlayout.lua.j2' %]
[% include 'wibox/widgets/clock.lua.j2' %]
[% include 'wibox/widgets/memory.lua.j2' %]
[% include 'wibox/widgets/cpu.lua.j2' %]
[% include 'wibox/widgets/assault.lua.j2' %]
[% include 'wibox/widgets/alsa.lua.j2' %]

-- Based on: http://jasonmaur.com/awesome-wm-widgets-configuration/
spacer = wibox.widget.textbox()
separator = wibox.widget.textbox()
spacer:set_text(" ")
separator:set_text("|")
