---
- name: Install xbacklight package
  pacman: name=xorg-xbacklight state=present
  become: yes
  become_user: root
  become_method: sudo
- name: Get awesome.brightness-widget from git
  git: repo=https://github.com/velovix/awesome.brightness-widget.git dest=/opt/pandorasbox/awesome.brightness-widget
- name: Link awesome.brightness-widget to awesome config folder
  file: src=/opt/pandorasbox/awesome.brightness-widget/brightness-widget.lua dest=~/.config/awesome/brightness-widget.lua state=link
- name: Create awesome.brightness-widget directory to awesome config folder
  file: src=/opt/pandorasbox/awesome.brightness-widget/icons/ dest=~/.config/awesome/awesome.brightness-widget/ state=directory
- name: Link awesome.brightness-widget icons to awesome config folder
  file: src=/opt/pandorasbox/awesome.brightness-widget/icons dest=~/.config/awesome/awesome.brightness-widget/icons state=link
