" Map ESC to exit terminal mode
tnoremap <ESC> <C-\><C-n>

" Set split focus change to arrow keys
noremap <silent> <C-Right> <c-w>l
noremap <silent> <C-Left> <c-w>h
noremap <silent> <C-Up> <c-w>k
noremap <silent> <C-Down> <c-w>j

" Set split resize to arrow keys
noremap <silent> <S-Right> <c-w>>
noremap <silent> <S-Left> <c-w><
noremap <silent> <S-Up> <c-w>+
noremap <silent> <S-Down> <c-w>-

" Set tabs hotkeys
noremap <A-1> 1gt
noremap <A-2> 2gt
noremap <A-3> 3gt
noremap <A-4> 4gt
noremap <A-5> 5gt
noremap <A-6> 6gt
noremap <A-7> 7gt
noremap <A-8> 8gt
noremap <A-9> 9gt
noremap <A-0> 10gt

" Word wrap
:set nowrap
noremap <F7> :set wrap!<CR>
