
" Most of the ideas have been taken from:
"
" https://gitlab.com/marcheing/vimrc

" Standard modifier key for VIM
"
" It must come at the begin in order to following remaps to work
"
" The choice of the space key was made by marcheing:
"
" Using space as the leader key to be able to add as many nnoremaps with
" arbitrary keys as I want without having to think about vim's default key
" uses. All I have to do is <Leader>.
" Actually, I like to change between the classical '\' and space because I'm
" still not sure of which one is the best. For now, I like space because it
" makes a sound when I'm using it, and I like to believe it is the sound of
" progress, instead of the sound of my keyboard dying and my colleagues being
" annoyed.
let mapleader=" "

"dein Scripts-----------------------------
if &compatible
  set nocompatible               " Be iMproved
endif

" Required:
set runtimepath^=/opt/pandorasbox/dein.vim/repos/github.com/Shougo/dein.vim

" Required:
call dein#begin('/opt/pandorasbox/dein.vim')

" Let dein manage dein
" Required:
call dein#add('Shougo/dein.vim')

" Add or remove your plugins here:

{% include 'plugins/vim-colorschemes.j2' %}

{% include 'plugins/vim-airline.j2' %}

{% include 'plugins/vim-cpp-enhanced-highlight.j2' %}

{% include 'plugins/nerdtree.j2' %}

{% include 'plugins/nerdtree-git.j2' %}

{% include 'plugins/vimproc.vim.j2' %}

{% include 'plugins/denite.vim.j2' %}

{% include 'plugins/vim-better-whitespace.j2' %}

{% include 'plugins/deoplete.j2' %}

" You can specify revision/branch/tag.
" call dein#add('Shougo/vimshell', { 'rev': '3787e5' })

" Required:
call dein#end()

" Required:
filetype plugin indent on

" If you want to install not installed plugins on startup.
if dein#check_install()
  call dein#install()
endif

"End dein Scripts-------------------------


" Start NeoVIM configurations-------------

set encoding=utf8

" Allows the use of this little arrow that follows the movements of this
" mechanical thing that doesn't look like a mouse.
" But, really, have you seen the commands to alter the windows dimensions?
" They suck, so I prefer using the mouse for a moment instead of mapping four
" directional commands to do something that closely resembles what you don't
" want.
" Oh yes, and it allows for clicking on the tabs. Useful when pair programming
" for those who have any idea where the discussed code is even when not able
" to touch the keyboard.
" And the a means 'all'. It works on normal/visual/insert/command-line modes.
set mouse=a

" Set splits expected directions
set splitright
set splitbelow

" Set default spell language
set spelllang=pt_br

" This will insert spaces instead of tabs when you press tab because tab.
" Say NO to tabs. I hate it when trying to edit a file that someone else
" programmed and then the lines jump at every direction known to vim every
" time the other guy(s) didn't know about tabs/spaces and tried their own
" pattern. My pattern is simple: spaces. I don't want python files that look
" perfectly reasonable but doesn't work.
set expandtab

" Use 2 spaces for indentation.
" 2 Spaces is enough for most of my code. If I'm going to work with some other
" strange pattern for spacing, then I can change it to open according to the
" file type or project or env variable or phase of the moon.
" For now, I want to keep it simple, so setting it to 2. Also, Now I can have
" almost infinite levels of `if` statements!
set shiftwidth=2

" Pretend that the ta key will not insert tabs. Now, it inserts 2 spaces in
" the middle of the text, because when I'm pressing <tab> I never meant to
" actually press it.
" This option without expandtab is weird to the point of making an art piece
" composition with spaces and tabs just to meet the number that was specified.
" Lucky for me, I only use 2 spaces and never use tabs.
" By the way, this does not affect the size of a `true` tab character when
" viewing the file, so yuo can see all its glorious 8 spaces and how bad the
" code gets with it. Alternatively, you can set tabstop and pretend everything
" is okay (and use a delightful mix of spaces and tabs).
set softtabstop=2

" Insert the shiftwidth amount of spaces instead of a tab at the start
" of a line. Be careful as it only inserts spaces because of the expandtab
" already set. Look about 2 options up from this ^^^
" This is useful to control indentation while leaving the tabs with the size
" they want, because you may want to see the mess that they cause with their
" default size (8 spaces).
set smarttab

" Inserts the same amount of spaces found on the previous line when you <CR>
" in insert mode or use 'o'/'O'.
" This may lead to some frustrations when you don't actually want the next
" line to be indented and have to <ESC> out of insert mode, but most of the
" time I'm able to continue typing away my function with its four or five
" levels of useless callbacks, so I'm not complaining.
set autoindent

" Add indentation when the previous line ended with one of the 'special' words
" (like while, if, switch, etc) or the opening of blocks with '{'.
" I won't be using cindent here because this option would get overridden and
" it is too strict for me. I have the indentation spaces set and it works for
" most of my code.
set smartindent

{% include 'keybindings.j2' %}
