#jinja2:block_start_string:'[%', block_end_string:'%]', variable_start_string:'[[%' , variable_end_string:'%]]', comment_start_string:'[[#' , comment_end_string:'#]]'

[% include 'requires.lua.j2' %]

[% include 'errors.lua.j2' %]

[% include 'variables.lua.j2' %]

[% include 'helper_functions.lua.j2' %]

[% include 'menu.lua.j2' %]

[% include 'wibox/main.lua.j2' %]

[% include 'tag_list.lua.j2' %]

[% include 'task_list.lua.j2' %]

[% include 'wallpaper.lua.j2' %]

[% include 'each_screen.lua.j2' %]

[% include 'bindings.lua.j2' %]

[% include 'rules.lua.j2' %]

[% include 'signals.lua.j2' %]

-- {{{ Spawn
awful.spawn("nm-applet")
awful.spawn("light-locker")
awful.spawn("redshift-gtk")
awful.spawn("psensor")

-- Close all the windows that might get spawned
for _, c in ipairs(client.get()) do
  c:kill()
end
-- }}}
