-- {{{ Menu
-- Create a laucher widget and a main menu
myawesomemenu = {
   { "manual", terminal .. " -e man awesome" },
   { "edit config", editor_cmd .. " " .. awesome.conffile },
   { "restart", awesome.restart },
}

mysessionmenu = {  { "logout", awesome.quit },
                   { "shutdown", terminal .. " -e systemctl poweroff -i" }
}

kblayoutcmd = "setxkbmap"
mykblayoutmenu = { {'abnt2', kblayoutcmd .. " br abnt2" },
                   {'us', kblayoutcmd .. " us intl nodeadkeys" }
}

myconfigurationsmenu = {  { "monitor", "arandr" },
                          { "keyboard", mykblayoutmenu }
}

mymainmenu = awful.menu({ items = { { "files", "nautilus" },
                                    { "terminal", terminal },
                                    { "browser", browser },
                                    { "awesome", myawesomemenu, beautiful.awesome_icon },
                                    { "session", mysessionmenu },
                                    { "configurations", myconfigurationsmenu }
                                  }
                        })

mylauncher = awful.widget.launcher({ image = beautiful.awesome_icon,
                                     menu = mymainmenu })

-- Menubar configuration
menubar.utils.terminal = terminal -- Set the terminal for applications that require it
-- }}}