-- {{{ Menu
-- Create a laucher widget and a main menu
myawesomemenu = {
   { "manual", terminal .. " -e man awesome" },
   { "edit config", editor_cmd .. " " .. awesome.conffile },
   { "restart", awesome.restart },
}

mysessionmenu = {  { "logout", awesome.quit },
                   { "shutdown", terminal .. " -e systemctl poweroff -i" }
}

mymainmenu = awful.menu({ items = { { "terminal", terminal },
                                    { "browser", browser },
                                    { "awesome", myawesomemenu, beautiful.awesome_icon },
                                    { "session", mysessionmenu }
                                  }
                        })

mylauncher = awful.widget.launcher({ image = beautiful.awesome_icon,
                                     menu = mymainmenu })

-- Menubar configuration
menubar.utils.terminal = terminal -- Set the terminal for applications that require it
-- }}}