<settings>
  <servers>
    {% for id, data in maven_servers.items() %}
    <server>
      <id>{{ id }}</id>
      <username>{{ data.username }}</username>
      <password>{{ data.password }}</password>
    </server>
    {% endfor %}
  </servers>
  <pluginGroups>
    <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
  </pluginGroups>
  <profiles>
    <profile>
      <id>sonar</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <!-- Optional URL to server. Default value is http://localhost:9000 -->
        <sonar.host.url>
          http://ci.dev.mandae.com.br:9000/
        </sonar.host.url>
      </properties>
    </profile>
  </profiles>
</settings>
