" Adds symbols to the NERDtree buffer to show modified files, new files and
" all that good stuff you can get with :Gstatus in fugitive. Useful if all you
" want is to check the modified files from the "'<(current project)>'" shown
" by NERDTree.
" Oh, BY THE WAY, this is not the original nerdtree-git-plugin, it's actually
" a fork made by albfan to include some neat ignoring functions that can work
" quite well with .gitignore. Well, I can't prove that directly, but I can say
" that it is working pretty fine for now.
call dein#add('albfan/nerdtree-git-plugin')

