" Adds symbols to the NERDtree buffer to show modified files, new files and
" all that good stuff you can get with :Gstatus in fugitive. Useful if all you
" want is to check the modified files from the "'<(current project)>'" shown
" by NERDTree.
call dein#add('Xuyuanp/nerdtree-git-plugin')

