" The most important plugin. Let's see if drains all the performance from my
" vim. This plugin adds almost every kind of colorscheme that I've ever seen
" and lets you choose! Props to flazz/Franco for making this.
call dein#add('flazz/vim-colorschemes')

colorscheme molokai
