" And now, for the thing that makes vim seem like those cool shiny gifs that I
" always see on the plugins' pages. It is a plugin that turns the statusbar
" into something cute and shiny, along with the tabs. You can set colors, the
" layout of the displayed information, the warnings, the scope... And its
" slow. Not as slow as syntax checking, but still pretty slow.
call dein#add('vim-airline/vim-airline')

" This adds themes with already preconfigured colors that some designers
" worked on for some time to provide a good and soothing interf... ok, I'm
" just adding this because of the badwolf theme. I use this colorscheme and
" would very much like my bar on the bottom to actually match colors.
" It does have other themes too, I'm just too biased towards badwolf.
call dein#add('vim-airline/vim-airline-themes')

" Airline wants to use fancy unicode chars and this prevents this mess. See:
" https://github.com/vim-airline/vim-airline/blob/master/autoload/airline/init.vim#L80
"
" It is hell to get all of the unicode symbols working even falling back to
" unifont.
let g:airline_symbols_ascii=1
