{
  "general": {
    "backup_dir": "grafana_backup"
  },
  "grafana": {
    "url": "http://localhost:3000",
    "token": "{{ grafana_admin_token }}",
    "admin_account": "admin",
    "admin_password": "{{ grafana_admin_pass }}"
  }
}
